/* begin reset */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
/* end reset */

/* begin typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/*h1 {
  font-size: 26px;
  font-size: 2.6rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

.view-wrapper, #footer, p, li, label, a {
  font-size: 14px;
  font-size: 1.4rem;
} */
/* end typography */

/* begin general */
html body {
  /*font-size: 62.5%;*/
  background-color: #333;
  color: #EEE;
  letter-spacing: 0.1rem;
}

body .view-wrapper {
  max-width: 100%;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 20px;
  line-height: 2rem;
}

.controls {
  position: fixed;
  width: 200px;
  width: 20rem;
  height: 200px;
  height: 20rem;
}

.mainnav-btn, .preset-btn, .controls-timeline { left: 0; }

.preset-btn { top: 90px; top: 9rem; }

.controls {
  background-color: #CCC;
  bottom: 0;
}

ul.controls-list li {
  margin: 1.4rem 0;
}

.timeline {
  left: 200px;
  left: 20rem;
  right: 200px;
  right: 20rem;
  bottom: 0;
  position: fixed;
  min-height: 100px;
  min-height: 10rem;
  background-color: #89a;
}

.controls-misc { right: 0; }

.playback-date, .playback-time, .controls-list label {
font-size: 1.7rem;
color: #567;
}

.controls-list label {
font-size: 1.3rem;
color: #567;
}

.controls-list input {
  letter-spacing:1px;
}

.timeline div.timeline-axis-text {
  color:#fff;
}

.zm #monitors li {
  background-color:#333;
  border: 1px solid #777;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
}

.zm #monitors .monitor-title {
  font-size:1.2rem;
  margin:0.2rem 0 0 0.5rem;
  color:#ccc;
  letter-spacing:2px;
}

.floatleft {
  float:left;
}
/* end general */

/* temporary styles */

#content { margin: 45px; }

#add_tab, #change_view, #refresh_monitors {
  padding: 1px 10px;
  margin-top: -2px;
}


/* override - shouldn't be needed */
.dropdown-menu {
  text-align: left;
}

/* temp styles - may need changing */

.btn-group { left: 5px; left: 0.5rem; top: 5px; top: 0.5rem; position: fixed; z-index: 20; }