/* begin reset */
html, body, .view-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
}
/* end reset */

/* begin general */

.floatleft {
  float:left;
}

/* Clearfix */
 .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*#timeline { overflow: hidden; }*/