body {
  background-color: #333;
  color: #EEE;
  letter-spacing: 0.1rem;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 20px;
  line-height: 2rem;
}

.monitor-stream-image {
    max-width: 100%;
    height: auto;
}

/* timeline styling */

body.zm .timeline-event {
    color: #FFF;
}

#timeline .timeline-frame {
    border-radius: 0;
    background-color:none !important;
}

.preset-list { text-align: center; }

/* shouldn't be needed */

#ui-datepicker-div, .dialog-modal { display: none; }

body.zm .ui-dialog .ui-dialog-content { padding: 0; }

.monitor-stream-fullscreen:hover {
    cursor: crosshair;
}

.monitor-stream {
  background-color: #333;
  border: 1px solid #777;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.4);
  border-radius: 6px;
}

.monitor-stream-image {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-md-4 {
    padding: 15px;
}

.monitor-stream-info .col-md-4 {
    padding: 0;
}

.controls {
  position: fixed;
  width: 200px;
  width: 20rem;
  height: 200px;
  height: 20rem;
}

.mainnav-btn, .preset-btn, .controls-timeline { left: 0; }

.preset-btn { top: 90px; top: 9rem; }

.controls {
  background-color: #CCC;
  bottom: 0;
}

.controls-list, #monitor-streams {
  text-align: center;
}

ul.controls-list li {
  margin: 1.4rem 0;
}

.timeline {
  left: 200px;
  left: 20rem;
  right: 200px;
  right: 20rem;
  bottom: 0;
  position: fixed;
  min-height: 100px;
  min-height: 10rem;
  background-color: #89a;
}

.controls-misc { right: 0; }

.playback-date, .playback-time, .controls-list label {
font-size: 1.7rem;
color: #567;
}

.controls-list label {
font-size: 1.3rem;
color: #567;
}

.controls-list input {
  letter-spacing:1px;
}

.timeline div.timeline-axis-text {
  color:#fff;
}

.monitor-stream-info {
  letter-spacing:2px;
}

.monitor-stream-info-right {
  text-align:right;
  margin: 0.1rem 0;
  font-size:1.4rem;
}

.zm .timeline-currenttime {
  background-color: #89a;
  border: 2px dashed #fff;
  border-width: 0 0 0 2px;
}

.ui-dialog-titlebar {
    padding-left: 0;
    padding-right: 0;
}

.ui-dialog-title, .preset-list-item {
    text-align: center;
    padding-left: 6%;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.zm .ui-dialog a, .zm .ui-dialog a:visited {
  text-decoration:none;
  color:#bbb;
  width:100%;
  height:100%;
  display:block;
  outline:none;
}

.zm .ui-dialog a:active, .zm .ui-dialog a:hover {
  color:#fff;
}

.zm .ui-dialog li:nth-child(even), .optionTable tr:nth-child(even) {
  background-color: #333;
}

.zm .glyphicon-stop {
  line-height: 1.4rem;
}

.zm .preset-list-default-preset {
  float: right;
  margin-right: 0.8rem;
}

.zm .ui-dialog, .optionTable {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.1);
}

.zm .ui-dialog-titlebar {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 3rem;
}

.zm .ui-dialog button, .zm .monitor-stream-info-right button {
  background: none;
  border: none;
}

.zm .monitor-stream-info-right button {
  height:24px;
}

.zm .ui-dialog button, .zm button.monitor-stream-info-close {
  color:#eee;
}

/* end general */

.monitor-stream-info p {  
  padding: 0.5rem;
  margin: 0;
}

.timeline-frame {
  background: #556677; /* Old browsers */
  background: -moz-linear-gradient(top,  #556677 0%, #667788 20%, #556677 80%, #445566 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556677), color-stop(20%,#667788), color-stop(80%,#556677), color-stop(100%,#445566)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #556677 0%,#667788 20%,#556677 80%,#445566 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #556677 0%,#667788 20%,#556677 80%,#445566 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #556677 0%,#667788 20%,#556677 80%,#445566 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #556677 0%,#667788 20%,#556677 80%,#445566 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556677', endColorstr='#445566',GradientType=0 ); /* IE6-9 */
}

.timeline .timeline-event {
  border: 1px solid #FFF;
}

.controls {
  background: rgb(221,221,221); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%, rgba(204,204,204,1) 47%, rgba(153,153,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(221,221,221,1)), color-stop(47%,rgba(204,204,204,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%,rgba(204,204,204,1) 47%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%,rgba(204,204,204,1) 47%,rgba(153,153,153,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(221,221,221,1) 0%,rgba(204,204,204,1) 47%,rgba(153,153,153,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(221,221,221,1) 0%,rgba(204,204,204,1) 47%,rgba(153,153,153,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#999999',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 4px solid #ccc;
  }

.controls-timeline {
  border-width: 4px 4px 0 0;
}

.controls-misc {
  border-width: 4px 0 0 4px;
}

.currently-playing {
  color: #789;
  font-weight: bold;
  margin: 0 0 0.4rem;
}

.zm .choose-cameras li {
  margin: 0.8rem;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5);
}

.monitor-streams {
  width: 100%;
  height: calc(100% - 200px );
  position: fixed;
  overflow: auto;
}

.zm.ui-dialog .ui-dialog-titlebar-close, .zm .show-all-cameras {
  width: 26px;
  padding: 2px;
  height: 26px;
}

.zm .controls .controls-timeline-playback-buttons {
  border: 1px #ddd solid;
  padding: 0.4rem 1rem;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-width: 1px 0;
  background-color: #aaa;
}

.controls-list label {
  font-size: 1.3rem;
  color: #567;
  width: 100%;
  text-align: left;
  padding-left: 1.1rem;
}

.zm .controls input {
  border: 1px #aaa solid;
  padding: 0.2rem 1rem;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  width: 100%;
  border-width: 1px 0;
}

/*.monitor-streams, .monitor-stream-thumbnails, .monitor-stream-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}*/

.monitor-streams {
  justify-content: center;
}

/*.monitor-stream, .monitor-stream-thumnail-item, .monitor-stream-info-name, .monitor-stream-info-events, .monitor-stream-info-right {
  flex: 1 1 auto;
}*/

/*.col-container {
  margin: 1rem 1rem 0 1rem;
  width: 320px;
}*/

.top-toolbar {
  text-align: center;
  padding: 0.5rem 0 0;
}

/* quick fix / hack */

.monitor-streams {
  margin-top: 1rem;
}

.monitor-stream {
  display: inline-block;
  margin: 0 1rem;
  width: 480px;
}

.monitor-stream-thumbnail-item {
  display: inline-block;
}

.monitor-stream-info p {
  width: 33.333333333%;
  display: inline-block;
}

#speed {
  display: inline-block;
  width: 80px;
}