/* begin reset */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
/* end reset */

/* begin general */
body {
  font-size: 62.5%;
  background-color: #333333;
  color: #EEEEEE;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

body .view-wrapper {
  max-width:100%;
  font-size:1.1rem;
  line-height:2rem;
}

/* end general */

/* begin typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 26px;
  font-size: 2.6rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

.view-wrapper, #footer, p, li, label, a {
  font-size: 14px;
  font-size: 1.4rem;
}
/* end typography */